<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="pt_120 xs_pt_80 sm_pt_80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div
                                class="tf__footer_content fade_right"
                                data-trigerId="footer"
                                data-stagger=".25"
                        >
                            <div class="icon">
                                <div class="icon-contianer">
                                    <img
                                            src="svg/map.svg"
                                            alt="footer"
                                            class="img-fluid w-100 svg"
                                    />
                                </div>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div
                                class="tf__footer_content fade_right"
                                data-trigerId="footer"
                                data-stagger=".25"
                        >
                            <div class="icon">
                                <div class="icon-contianer">
                                    <img
                                            src="svg/phone.svg"
                                            alt="footer"
                                            class="img-fluid w-100 svg"
                                    />
                                </div>
                            </div>
                            <div class="text">
                                <h3>Lets talk us</h3>
                                <a href="callto:1234567890">(603) 555-0123</a>
                                <a href="callto:1234567890">(603) 555-0123</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div
                                class="tf__footer_content fade_right"
                                data-trigerId="footer"
                                data-stagger=".25"
                        >
                            <div class="icon">
                                <div class="icon-contianer">
                                    <img
                                            src="svg/envelope.svg"
                                            alt="footer"
                                            class="img-fluid w-100 svg"
                                    />
                                </div>
                            </div>
                            <div class="text">
                                <h3>Send us email</h3>
                                <a href="mailto:example@gmail.com"
                                >deanna.curtis@example.com</a
                                >
                                <a href="mailto:example@gmail.com">curtis@example.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tf__footer_copyright">
                            <p>© CodeeFly 2023 | All Rights Reserved</p>
                            <ul>
                                <li>
                                    <a href="#" class="text_hover_animaiton"
                                    >Trams & Condition</a
                                    >
                                </li>
                                <li>
                                    <a href="#" class="text_hover_animaiton"
                                    >Privacy Policy</a
                                    >
                                </li>
                                <li>
                                    <a href="#" class="text_hover_animaiton">Sitemap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>